<p>
  Hallo,
</p>

<p>
  Du wurdest auf <em>sortitout.de</em> zum Thema „<%= @topic.title %>“ eingeladen:<br/>
  <%= link_to nil, @url %>
</p>

<p>Sort it out ist ein simples Brainstorming-Tool, mit dem du alleine oder in einer Gruppe kreativ werden kannst.</p>

<p>
  sort it out!
</p>
