body.bp {
  table {
    tbody {
      
      th {
        max-width: 400px;
      }
      th,td {
        line-height: 1em;
        font-size: 140%;
        padding-bottom: 20px;
        a.icon.delete {
          
        }
      }
    }
  }
}
